<!-- * for ng If and For
    [] for ng class, style,-->
<p *ngIf="displayParagraph"
    [ng-style]="{
        'position': 'absolute',
        'right': 0,
        'top': 0
    }">This is a paragraph</p>

<p [ng-class]="'color-red background-yellow'">This is my second paragraph.</p>

<p [ng-class]="[
    'color-red',
    'background-yellow'
]">This is a paragraph I am not fond of. Classes are added as an array.</p>

<p [ng-class]="{
    'color-red': true,
    'background-yellow': true,
    'hide-text': displayParagraph
}">Last ngClass paragraph. Added as an object.</p>

<div>
    <ul>
        <li *ngFor="let user of users">
            {{ user.name }} is {{ user.age }} years old.
        </li>
    </ul>
</div>