<!--Classes are like properties. It is a container with a label, that container has a few things about it that
differ, like a few strings and numbers with their own labels. We can use classes to make variable that fit within
that label as to be more easily recalled or applied elsewhere. And class inheritance is what is inherited in a
class, like names, ages, or even ratings. I am not sure what a sub or super class is. A public class can be
accessed from other files, as private can't. I am not sure what a protected class does.-->

<h3>{{ getDetails() }}</h3>

<!--All of the ways (protected, private, and public) still worked. I had a little bit of difficulty creating a
contructor in a derived class, then I went back to my notes and soleved the problems.-->