<!--Types are what a property can be given, to describe it and what can or cannot be assigned to it.
types include - string, number, void, symbol, null, boolean, never, keyOf, objects, and any. I am sure there are more 
but at the moment none come to mind. I am not sure what an array type is either. Practice will be below.-->

<h3>
    This is my friend {{ friend1.fname }} {{ friend1.lname }},
    He is {{ friend1.age }} and identifies as a {{ friend1.gender }}.
</h3>

<!--I don't know how to apply the other types except any(which can be applied to almost anything). I hope
I can learn more in this class, and I apologize if some of those properties are something I should already
know how to apply.-->